@import url("https://fonts.googleapis.com/css?family=Bitter");

:root {
    --primary: #ccc;
    --secondary: #e0e0e0;
    --tertiary: #b7b7b7;
    --text-primary: #313131;
    --font: Bitter, "Times New Roman", Times, Baskerville, Georgia, serif;
    --font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.scroll {
    overflow: scroll;
}

div.scroll::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

div.scroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--secondary);
}

div.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--primary);
}

ul {
    list-style: none;
}

button {
    border-style: none;
    background: transparent;
}

div#top-buttons {
    -webkit-app-region: drag;
    position: absolute;
    display: flex;
    padding: 8px 0;
    width: 100vw;
    background: transparent;
    z-index: 0;
}

div#top-buttons button {
    -webkit-app-region: no-drag;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    cursor: default;
    transition-property: all;
    transition-duration: .35s;
}

div#top-buttons button:hover {
    background: #8b51ff;
    box-shadow: none;
}

button#exit {
    background: #F25C54;
    box-shadow: 0 0 0 1px #C22C24;
}

button#minimize {
    background: #FEBB2A;
    box-shadow: 0 0 0 1px #CE8B0A;
}

button#maximize {
    background: #28CC41;
    box-shadow: 0 0 0 1px #089C11;
}

div.homescreen {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.hello {
    margin-top: 50vh;
    left: 50%;
    position: relative;
    float: left;
}

h1.typingText {
    float: left;
    position: relative;
    width: 0;
    white-space: nowrap;
    color: var(--text-primary);
    font-family: var(--font);
    font-size: 3vw;
    overflow: hidden;
    border-right: .15em solid var(--text-primary);
    letter-spacing: .15em;
    cursor: default;
}

h1.typeAnimLen6 {
    animation: typing .6s .8s steps(6) forwards, blink-caret .5s 1.4s step-end 2, typing .3s 2.4s steps(6) reverse forwards;
}

h1.typeAnimLen29 {
    animation: typing 2.9s .4s steps(29) forwards, blink-caret .5s 3.3s step-end 2, typing 1.45s 4.3s steps(29) reverse forwards, fade-caret .5s 5.75s forwards;
}

@keyframes typing {
    from { width: 0; left: 0%; }
    to { width: 100%; left: -50%; }
}

@keyframes blink-caret {
    from, to { border-color: var(--text-primary) }
    50% { border-color: transparent }
}

@keyframes fade-caret {
    from { opacity: 1 }
    to { opacity: 0 }
}

div.left {
    padding-top: 25px;
    height: 100vh;
    width: 200px;
}

.home {
    background: var(--primary);
    width: 100vw;
    height: 100vh;
}

.menu {
	width: 100vw;
	padding-top: 12vh;
}

.menu > li {
    position: relative;
	width: 41vw;
	padding: 2vh 0;
    color: rgba(49, 49, 49, 0.5);
    background: rgba(224, 224, 224, 0.5);
	border-radius: 4px;
	margin: 0 auto 8vh;
	font-family: var(--font);
	font-size: 1.5em;
	cursor: pointer;
	transition: transform .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out, box-shadow .4s cubic-bezier(.25, .8, .25, 1);
	display: flex;
	flex: row;
	box-shadow: 0 1px 3px rgba(67, 67, 67, .12), 0 1px 2px rgba(67, 67, 67, .24);
}

.menu > li:first-of-type {
    cursor: default;
    color: var(--text-primary);
	background: var(--secondary);
}

.menu > li > i {
	width: 41px;
	height: 48px;
    font-size: 2em;
    margin: 0 0 0 10% !important;
	/*transition: filter .4s ease-out, opacity .4s ease-in-out;*/
}

.menu > li > p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	letter-spacing: 1vw;
	left: auto;
	right: 5%;
	font-weight: bold;
    /*padding-top: 50%;*/
    /*transform: translateY(-50%);*/
	transition: text-shadow .3s .3s ease-in-out; /*, opacity .4s ease-in-out;*/
}

.menu > li:hover:not(:first-of-type) {
	box-shadow: 0 14px 28px rgba(67, 67, 67, .25), 0 10px 10px rgba(67, 67, 67, .22);
    color: var(--text-primary);
	background: var(--secondary);
}

.menu > li:hover:not(:first-of-type) > p {
	text-shadow: 0 0 2px #aba6aa;
}

.menu > li > .spin {
    transition: transform .4s ease-in-out;
    transform-origin: center center;
    /*transform: rotate(0deg);*/
}

.menu > li:hover > .spin {
    transform: rotate(110deg);
}

.menu > li > .write {
	transition: transform .4s ease-in-out;
}

.menu > li:hover > .write {
	animation: write 1s .2s ease;
}

.menu > li > .bounce {
	transition: transform .7s ease-in-out;
}

.menu > li:hover > .bounce {
	animation: bounce 1s .2s ease-in-out;
}

/*@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}*/

@keyframes write {
	from, to {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-45deg) translateY(2px);
	}
	40% {
		transform: rotate(-30deg);
	}
	60% {
		transform: rotate(-65deg);
	}
	80% {
		transform: rotate(-35deg) translateY(-4px);
	}
}

@keyframes bounce {
	from, to {
		transform: translateY(0) scaleY(1) scaleX(1);
	}
	25% {
		transform: translateY(-8px) scaleY(1.2) scaleX(0.7);
	}
	50% {
		transform: translateY(4px) scaleY(1) scaleX(1.3);
	}
	70% {
		transform: translateY(-6px) scaleY(1.2) scaleX(0.7);
	}
	85% {
		transform: translateY(0) scaleY(1) scaleX(1);
	}
}

.menu + button {
	cursor: pointer;
	top: calc(100% - 30px);
	left: calc(100% - 30px);
	position: absolute;
	border: none;
	border-radius: 1px;
	background: #e0e0e0;
	padding: 4px;
	color: #313131;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: row;
	transition: left .4s ease-in-out, width .4s ease-in-out; /*, opacity .4s ease-in-out;*/
}

.menu + button > i {
	transform: scale(1.5);
	margin-left: 4px;
    transition: opacity .4s ease-in-out;
}

.menu + button > p {
	white-space: nowrap;
	width: 0;
	overflow: hidden;
	transition: width .4s ease-in-out; /*, opacity .4s ease-in-out;*/
}

.menu + button:hover {
	left: calc(100% - 130px);
	width: 130px;
}

.menu + button:hover p {
	width: 100px;
}

div#left {
    background: var(--primary);
}

div.drag {
    background: var(--primary);
    width: 4px;
    cursor: col-resize;
}

div#right {
    background: var(--secondary);
    width: calc(100vw - 200px);
    height: 100vh;
    /*transition: opacity 1s ease-out;*/
}

div#file-menus {
    width: 100%;
    height: calc(100% - 15px);
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
}

.slide-button {
    padding: 5px 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    color: #343434;
    font-family: Arial;
    cursor: pointer;
    transition: filter .4s ease-in-out;
}

.slide-button * {
    cursor: pointer;
}

.slide-button > p {
    position: absolute;
    font-size: 1.1em;
    letter-spacing: 12px;
    transition: transform .4s .05s ease-in-out, left .4s .05s ease-in-out;
}

.slide-button > p:first-of-type {
    left: -50%;
}

.slide-button > p:last-of-type {
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%);
}

.slide-button:hover > p:first-of-type {
    left: 50%;
    transform: translateX(-50%);
}

.slide-button:hover > p:last-of-type {
    left: 100%;
    transform: translateX(0);
}

#folders {
    height: calc(56% - 31px);
}

#open-files {
    height: 38.5%;
}

#file-menus > *:not(.slide-button) {
    margin-bottom: 5px;
}

.list {
    background: var(--secondary);
    border-radius: 2px;
    padding: 5px;
}

.list > li, .list ul > div, .list ul > li, .folder-name-wrap {
    width: 100%;
    padding: 2px;
    color: #97a;
    font-size: .8em;
    font-family: var(--font-secondary);
    transition: color .5s, background .5s;
}

.list > li:hover, .list ul > li:hover, .folder-name-wrap:hover {
    color: var(--text-primary);
    background: rgba(255,255,255,.04);
    cursor: pointer;
}

.folder-name-wrap {
    display: flex;
    width: 100%;
}

.list ul > p {
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-size: .92em;
    width: 100%;
    height: 100%;
}

.folder-oc {
    width: 6px;
    height: 6px;
    background: var(--text-primary);
    margin-left: 6px;
    margin-top: 6px;
    border-radius: 1px;
    transition: transform .3s;
}

.folder-open > .folder-name-wrap > .folder-oc{
    transform: rotate(45deg);
}

.list > ul > li, .list > ul > ul {
    display: none;
}

.folder-open > li, .folder-open > ul {
    display: flex !important;
}

.list ul > li, .list ul > ul {
    width: calc(100% - 15px);
    padding-left: 15px;
}

.x {
    float: right;
    opacity: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: opacity .3s;
}

.x::before, .x::after {
    margin-top: 8px;
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background: var(--text-primary);
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

#open-files > li:hover > .x {
    opacity: 1;
}

.activeFile {
    background: rgba(0,0,0,.4);
    color: var(--text-primary);
}

.activeFile > .x {
    opacity: 1;
}

div#editor {
    width: 100%;
    height: 100%;
    background: var(--tertiary);
}

div#edit-top-wrapper {
    position: relative;
    background: var(--primary);
    height: 25px;
    padding: 1px 0;
    width: 100%;
    z-index: 1;
}

div#edit-inner-wrapper {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div#edit-inner-wrapper select {
    -webkit-app-region: no-drag;
    width: 35%;
    outline: none;
    background: transparent;
    text-align-last: center;
    color: var(--text-primary);
    -webkit-appearance: none;
    border: var(--text-primary) solid 2px;
    border-radius: 2px;
    padding: 1px 0;
    margin-top: -3px;
    transition: border-color .3s ease-out;
    user-select: none;
    cursor: pointer;
}

#edit-inner-wrapper select:hover {
    border-color: var(--text-primary);
}

#edit-inner-wrapper select option {
    display: inline;
    text-align: center;
    background: var(--secondary);
    border: none;
    overflow: none;
    user-select: none;
    cursor: pointer;
}

#current-file {
    font-size: 1em;
    user-select: none;
    color: var(--text-primary);
    text-align: center;
    font-family: var(--font-secondary);
    cursor: default;
    display: inline-block;
    margin: 0 5%;
}

#no-edit {
    width: 100%;
    height: 100%;
    display: table;
}

#no-edit > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-family: var(--font-secondary);
    font-size: 1.2em;
    color: var(--text-primary);
    user-select: none;
    cursor: default;
}

#editor > .edit {
    width: 100%;
    height: 100%;
}

.editors {
    width: 100%;
    height: calc(100vh - 50px);
}

.codebox {
    width: 100%;
    height: 100%;
}
